h1 {
 font-family: 'EB Garamond', serif;
 text-align: center;
 margin: 0;
 color: purple;
}

div.new_todo {
  padding: 1em;
  border: 3px dashed purple;
  margin: 0.618em;
}

div.todo_tile {
  padding: 0.618em;
  border: 1px dashed purple;
  margin-left: 0.618em;
  margin-right: 0.618em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

div.todo_tile > p {
  padding: 2px;
  border-bottom: 1px solid gray;
  margin: 0.18em;
}

.cmpl {
  text-decoration: line-through;
}

#sort, #sortdd {
  cursor: pointer;
  margin: 2px;
}

.per_archive {
  padding-left: 2em;
}

.per_archive ul {
  float: left;
  background-color: #eee;
  padding: 0.5em 1em 0.5em 2em;
  margin-right: 1em;
}

/*

Stuff for stylig the SVG graph.

*/

.chart {
  background-color: #fff;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: #888;
  font: 10px sans-serif;
  text-anchor: end;
}


path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #000;
  stroke-opacity: .25;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
  stroke-opacity: .25;
}

